# required envs
REACT_APP_LOCAL_PROXY=http://localhost:8000
REACT_APP_WEBSOCKET_HOST=localhost:8000
REACT_APP_WEBSOCKET_RETRY_NUM=2
REACT_APP_S3_UPLOAD_RETRY_NUM=3
REACT_APP_WS_PROTOCOL=ws

## implemented for AP team, should exists in the existing system
REACT_APP_AUTH_METHOD=url
REACT_APP_AUTH_ROUTE=/api/shikshalokam/read-elevate-profile/

REACT_APP_SAATHI_FE_URL=http://localhost:3000
REACT_APP_LOGIN_REDIRECT_URL=
REACT_APP_REDIRECT_URL_PATH=sso
REACT_APP_FLOW_NAME=saathi
REACT_APP_PROFILE_FLOW_NAME=saathi_profile
REACT_APP_PROFILE_BOT_ROUTE=/saathi-profile
REACT_APP_DEFAULT_LANGUAGE=en

# Onboarding redirect delay in milliseconds (default: 3000)
REACT_APP_ONBOARDING_REDIRECT_DELAY=3000


# Websocket error message source
REACT_APP_WS_ERROR_SOURCE=system

# Websocket reconnect interval in milliseconds
REACT_APP_WEBSOCKET_RECONNECT_INTERVAL=3000

# Websocket idle timeout
REACT_APP_WS_IDLE_TIMEOUT_SOURCE=system
REACT_APP_WS_IDLE_TIMEOUT_EVENT=idle_timeout